<div class="main">
  <div class="table-container">
    <p-table #dt [value]="employees" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [loading]="loading" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="table-title">
            Employees
          </span>
          <p-button label="Add employee" icon="pi pi-plus" iconPos="right" styleClass="p-button-sm" (click)="initNewEmployee(); modal.toggleShow()"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr class="p-column-title">
          <td>{{employee.id}}</td>
          <td>
            <span class="p-column-title">Name</span>
            {{employee.firstName}} {{employee.lastName}}
          </td>
          <td>{{employee.phone}}</td>
          <td>
            <button pButton type="button" class="p-button-secondary" icon="pi pi-cog" (click)="editEmployee(employee); modal.toggleShow()"></button>
          </td>
      </ng-template>
    </p-table>
  </div>
  <app-edit-employee #modal [employee]="employeeToEdit" (employeesUpdated)="updateEmployeeList($event)"></app-edit-employee>
</div>